

 <div class="bgimg">
<mat-toolbar>
        <span>Ajouter un super hero </span>
         <div class="mat-right">
         <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
     </div> 



        </mat-toolbar>
       <form [formGroup]="service.formOne" class="normal-form" (ngSubmit)="onSubmit()">
        <mat-grid-list cols="2" rowHeight="200px">
            <div class="controles-container">

               <mat-grid-tile>
                  <mat-form-field>
                      <input formControlName="nom" matInput placeholder="Nom" required>
                      <mat-error>Ce champ est obligatorie.</mat-error>
                    </mat-form-field>
               </mat-grid-tile>


               <mat-grid-tile>



              

                  <mat-form-field>
                      <textarea formControlName="description" matInput placeholder="description" required></textarea>
                      <mat-error>Ce champ est obligatorie.</mat-error>
                    </mat-form-field>


               </mat-grid-tile>

               <mat-grid-tile>
               <div class="form-group">
                  <label id="file">Choose File: </label>
                  <input type="file"
                         id="file"
                         (change)="handleFileInput($event.target.files)">
                      
                         
              </div>

            </mat-grid-tile>

             </div>
  
          

         </mat-grid-list>
       
       

         <div class="mat-right">
            <button mat-raised-button color="primary" type="submit" >Submit</button>
      
          </div>

       </form>
       </div>