.title
{
    color: #e2126e;
}

.mat-right
{
    float: right;
    margin: auto;
    margin-right: 0px;
}


#file
{
    margin-left: 126px;
    margin-top: 20px;
}


  
.bgimg {
    display: block;
    background: url(/../assets/image/spider.png) center;
    background-repeat: no-repeat, repeat;
    background-size: 159px 333px;
 
  }
 