<mat-toolbar>
        <span>Ajouter un super hero </span>
         <!-- <span class="fill-remaining-space"></span> -->
         <div class="mat-right">
         <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
     </div>


        </mat-toolbar>
       <form [formGroup]="service.form" class="normal-form" (ngSubmit)="onSubmit()">
        <mat-grid-list cols="2" rowHeight="200px">
            <div class="controles-container">
               <!-- <mat-form-field>
                 <input formControlName="idDemande"  matInput placeholder="Numéro de la demande">
                 <mat-error>This field is mandatory.</mat-error>
               </mat-form-field> -->
       
       
               <!-- <label class="title">Coordonnées Super Hero </label> -->


               <mat-grid-tile>
                  <mat-form-field>
                      <input formControlName="nom" matInput placeholder="Nom">
                      <mat-error>Ce champ est obligatorie.</mat-error>
                    </mat-form-field>
               </mat-grid-tile>



               <mat-grid-tile>
                  <mat-form-field>
                      <input formControlName="prenom" matInput placeholder="Prenom">
                      <mat-error>Ce champ est obligatorie.</mat-error>
                    </mat-form-field>

               </mat-grid-tile>



               <mat-grid-tile>


                  <mat-form-field>
                      <input formControlName="description" matInput placeholder="description">
                      <mat-error>Ce champ est obligatorie.</mat-error>
                    </mat-form-field>


               </mat-grid-tile>




               <mat-grid-tile>

                  <mat-form-field>
                      <mat-label>Teams</mat-label> 
                        <mat-select placeholder="Team" formControlName="Team"  [(ngModel)]="Team" required>
                               <mat-option>Team</mat-option>
                                <mat-option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</mat-option>
                            </mat-select>  
                          </mat-form-field> 

                          


               </mat-grid-tile>
               

      
             </div>
  
          

         </mat-grid-list>
       
       

         <div class="mat-right">
            <button mat-raised-button color="primary" type="submit" >Submit</button>
      
          </div>

       </form>
       